body{
  margin: 0px !important;
  padding: 0px !important;
}
header{
  background-color: indigo;
  color: white;
  height: auto !important;
}
.indigo{
  color: indigo !important;
}
h1{
  text-align: center;
  padding: 20px;
}
img{
  height: 64px !important;
  border-radius: 50%;
  margin-top: 15px !important;
 
}
img:hover{
  box-shadow: 0 4px 8px 0 rgba(223, 221, 221, 0.2), 0 6px 20px 0 rgba(175, 175, 175, 0.19);
  cursor: pointer;
  transition: .5s ;
}
a{
  text-decoration: none !important;
  color: white !important;
  margin-top: 20px !important;
  padding: 10px 20px;
  font-size: large !important;  
}
a:hover{
  color: grey !important;
}
ul{
  list-style: none;
}
ul>li{
  list-style: none;
  display: inline;
}
/* k;lk; 
*/